:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --text-color: #ffffff;
  --address-color: rgba(255, 255, 255, 0.6);
  --hero-footer-color: #2f303a;
  --section-our-team-color: #f5f4fa;
  --primary-white-color: #ffffff;
  --logo-color: #000000;
  --hero-button-accent: #188ce8;
}

body {
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.background {
  background-color: var(--section-our-team-color);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* -------------------------------Шапка---------------------------- */

.header-logo {
  color: var(--logo-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo-part {
  color: var(--accent-color);
}

.header-nav .link.current {
  color: var(--accent-color);
}

.header-link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.header-contact {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.header-link:hover,
.header-link:focus,
.header-contact:hover,
.header-contact:focus {
  color: var(--accent-color);
}

/* -------------------------------Герой---------------------------- */

.hero {
  background-color: var(--hero-footer-color);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--text-color);
}

.hero-button {
  font-family: inherit;
  color: var(--text-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--hero-button-accent);
}

/* -------------------------------Секция 2---------------------------- */

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--title-text-color);
}

.features-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.features-text {
  line-height: 1.71;
}

/* -------------------------------Секция 3---------------------------- */

/* -------------------------------Секция 4---------------------------- */

.our-team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--title-text-color);
}
.our-team-text {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

/* -------------------------------Подвал---------------------------- */

.footer {
  background-color: var(--hero-footer-color);
}
.footer-logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--primary-white-color);
}

.address-location {
  font-style: normal;
  line-height: 1.71;
  color: var(--text-color);
}
.address-contacts {
  font-style: normal;
  line-height: 1.71;
  color: var(--address-color);
}

.address-location:hover,
.address-contacts:hover,
.address-location:focus,
.address-contacts:focus {
  color: var(--accent-color);
}

/* -------------------------------Портфолио---------------------------- */

.section-works-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: var(--title-text-color);
  cursor: pointer;
}

.section-works-button:hover,
.section-works-button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.works-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}
.works-text {
  font-size: 16px;
  line-height: 1.88;
  color: var(--primary-text-color);
}
